<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TGC.Group.Game" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <TGC.Group.Game>
      <setting name="Category" serializeAs="String">
        <value>Alumnos</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>Grupo 99</value>
      </setting>
      <setting name="Description" serializeAs="String">
        <value>Mi idea - Descripción de la idea</value>
      </setting>
      <setting name="ShadersDirectory" serializeAs="String">
        <value>..\..\Shaders\</value>
      </setting>
      <setting name="MediaDirectory" serializeAs="String">
        <value>..\..\Media\</value>
      </setting>
      <setting name="TexturaCaja" serializeAs="String">
        <value>cajaMadera4.jpg</value>
      </setting>
    </TGC.Group.Game>
  </userSettings>
</configuration>
