<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TGC.Group.Game" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <userSettings>
    <TGC.Group.Game>
      <setting name="Category" serializeAs="String">
        <value>Alumnos</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>Barrilete Cosmico</value>
      </setting>
      <setting name="ShadersDirectory" serializeAs="String">
        <value>..\..\Shaders\</value>
      </setting>
      <setting name="MediaDirectory" serializeAs="String">
        <value>..\..\Media\</value>
      </setting>
      <setting name="Description" serializeAs="String">
        <value>Crash Bandicoot</value>
      </setting>
    </TGC.Group.Game>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.DirectX.Direct3DX" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2902.0" newVersion="1.0.2902.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>